html {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #100E1D;
    color: #E7E7EB;
}

ul {
    list-style: none;
    /* margin: 0;
    padding: 0; */
}

ul li {
    background: #1E213A;
}

.weather_fivedays {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.weather_today {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 48px;
    column-gap: 48px;
}