html {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #100E1D;
    color: #E7E7EB;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    background: #1E213A;
}

button {
    cursor: pointer;
}
