html {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #100E1D;
    color: #E7E7EB;
    margin: 0;
    padding: 0;
}

p, h3 , h2, h1, span {
    margin: 0;
    padding: 0;
}

h1 {
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #88869D;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    background: #1E213A;
}

button {
    cursor: pointer;
}


h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #E7E7EB;
}

.buttons_C_F button, .btn_back, .wind_direction {
    border-radius: 54%;
    border: none;
    width: 40px;
    height: 40px;
}