.weather_today_temp {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 144px;
    line-height: 169px;
    color: #E7E7EB;
}

.weather_name {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #A09FB1;
}

.weather_date_today {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #88869D;    
}

h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #88869D;
}

