.weather {
    margin-left: 400px;
    padding-top: 42px;
    margin-bottom: 100px;
    margin-right: 100px;
}

.buttons_C_F {
    text-align: end;
    margin-bottom: 50px;
}

.buttons_C_F button:first-child {
    background: #E7E7EB;
}

.buttons_C_F button:last-child {
    background: #585676;
}