.weather_today {
    text-align: center;
}

.weather_today li + li {
    margin-top: 32px;
}

.weather_today__heading {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #E7E7EB;
    padding-bottom: 32px;
}

.percentage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

progress {
    width: 100%;
    -webkit-appearance: unset;
}

::-webkit-progress-bar {
  background-color: #E7E7EB;
  border-radius: 80px;
}

::-webkit-progress-value {
  background-color: #FFEC65;
  border-radius: 80px;
}

.weather_today li {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 22px;
    padding-bottom: 23px;
}

.weather_today li p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #E7E7EB;
}

.wind_direction {
    background: rgba(255, 255, 255, 0.3);
}

.wind {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wind p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #E7E7EB;
    padding-left: 6px;
}

.weather_today li h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #E7E7EB;
}

.weather_today li h3 span {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #A09FB1;
}

/* Compass rotation */
.compass-N {
    transform: rotate(0deg);
  }
  .compass-NNE {
    transform: rotate(22deg);
  }
  .compass-NE {
    transform: rotate(45deg);
  }
  .compass-ENE {
    transform: rotate(67deg);
  }
  .compass-E {
    transform: rotate(90deg);
  }
  .compass-ESE {
    transform: rotate(120deg);
  }
  .compass-SE {
    transform: rotate(135deg);
  }
  .compass-SSE {
    transform: rotate(157deg);
  }
  .compass-S {
    transform: rotate(180deg);
  }
  .compass-SSW {
    transform: rotate(202deg);
  }
  .compass-SW {
    transform: rotate(225deg);
  }
  .compass-WSW {
    transform: rotate(247deg);
  }
  .compass-W {
    transform: rotate(270deg);
  }
  .compass-WNW {
    transform: rotate(292deg);
  }
  .compass-NW {
    transform: rotate(315deg);
  }
  .compass-NNW {
    transform: rotate(337deg);
  }

  @media (min-width: 1000px) {
    .weather_today {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 48px;
        column-gap: 48px;
        text-align: center;
    }
    .weather_today li + li {
        margin-top: unset;
    }
    
  }
  