.weather {
    padding-top: 52px;
    padding-bottom: 51px;
    padding-right: 20px;
    padding-left: 20px;
}

.buttons_C_F {
    display: none;
}

.buttons_C_F button:first-child {
    background: #E7E7EB;
}

.buttons_C_F button:last-child {
    background: #585676;
}

@media (min-width: 1000px) {
    .weather {
        margin-left: 400px;
        padding-top: 42px;
        margin-bottom: 100px;
        margin-right: 100px;
    } 
    .buttons_C_F {
        display: block;
        text-align: end;
        margin-bottom: 50px;
    }  
}
