.weather_fivedays {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.weather_fivedays li:nth-child(1) {
    flex-basis: 45%;
}

.weather_fivedays li:nth-child(2) {
    flex-basis: 45%;
}

.weather_fivedays li:nth-child(3) {
    flex-basis: 45%;
    margin-top: 33px;
}

.weather_fivedays li:nth-child(4) {
    flex-basis: 45%;
    margin-top: 33px;
}

.weather_fivedays li:nth-child(5) {
    flex-basis: 45%;
    margin-top: 33px;
}

.weather_image {
    padding-top: 10px;
    padding-bottom: 31px;
}

.weather_fivedays li {
    padding: 18px 5px;
}

.weather_temp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.max_temp, .min_temp {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.max_temp {
    color: #E7E7EB;
}

.min_temp {
    color: #A09FB1;
}

@media (min-width: 1000px) {
    .weather_fivedays li {
        flex-basis: unset;
    }
}